<h1>Subscription Plans</h1>

<div class="container">
     <div class="card">
         <div class="initial face">
             <div class="content">
                 <img src="../../assets/freedom.jpeg">
                 <h4>4W Freedom Plan</h4>
             </div>
         </div>
         <div class="show face">
             <div class="content">
                 <p>Get your freedom to drive </p>
             </div>
         </div>   
     </div>
     <div class="card">
        <div class="initial face">
            <div class="content">
                <img src="../../assets/freedom.jpeg">
                <h4>4W Freedom Plan</h4>
            </div>
        </div>
        <div class="show face">
            <div class="content">
                <p>Get your freedom to drive </p>
            </div>
        </div>   
    </div>
     <div class="card">
         <div class="initial face">
             <div class="content">
                 <h4>Emergency Fuel</h4>
             </div>
         </div>
         <div class="show face">
             <div class="content">
                 <p>Description</p>
             </div>
         </div>   
     </div>
 </div> 
